:root {
  --white-color: #ffffff;
}

body {
  font-family: sans-serif;
  background-image: url('./images/paw-sign-of-rock-paper-scissors-game.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.header {
  padding: 5px 0;
  background: rgba(210, 62, 113, 0.3);
  box-shadow: 0 0 20px 0 rgba(110, 82, 130, 0.7);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 500px;
  margin: 60px auto;
  font-size: 30px;
  padding-top: -50px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px 0 rgba(110, 82, 130, 0.9);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  height: 100px;
  width: 500px;
  margin: 0 auto;
  max-width: 800px;
}

button {
  font-size: 1.1rem;
  width: 100px;
  height: 60px;
  background: linear-gradient(rgb(182, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.5);
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.icons {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.active {
  transform: scale(1.5);
}

.gameProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 50px 0 0 0;
  width: 700px;
  height: 150px;
  background-color: var(--white-color);
  box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.5);
  opacity: 0.9;
}

#reset {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 0 0 20px 0 #3B7E20CC;
  color: rgb(0, 0, 0);
  font-size: 20px;
}


.resetButton {
  margin: 100px auto;
  height: 100px;
  width: 500px;
  text-align: center;
}

button:active {
  background-color: black;
  box-shadow: inset 0px 0px 5px brown
}



